<%- include('../partials/headAndNav.ejs') %>
<h1>Here's a list of the best players</h1> 
<% for(let i = 0; i < players.length; i++) { %>
    <a href=<%= "players[i]._id" %>>
    <h3><%= players[i].name %></h3>
    </a>
    <h4><%= players[i].team %></h4>
    <img src="<%= players[i].image %>">
    <% } %>
}
<%- include('../partials/footer.ejs') %>
    
